In [1]:
import pandas as pd

In [3]:
import atoti as tt

session = tt.create_session()

Welcome to atoti 0.6.2!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [5]:
sales_table = session.read_csv("tutorial/data/sales.csv", keys=["Sale ID"])

In [6]:
sales_table.head()

                 Date    Shop Product  Quantity  Unit price
Sale ID
S000000000 2021-02-04  shop_0   TAB_0       1.0       210.0
S000000001 2021-02-03  shop_1   TAB_1       1.0       300.0
S000000002 2021-02-02  shop_2   CHA_2       2.0        60.0
S000000003 2021-02-01  shop_3   BED_3       1.0       150.0
S000000004 2021-01-31  shop_4   BED_4       3.0       300.0

In [7]:
cube = session.create_cube(sales_table)

In [8]:
h = cube.hierarchies
h

Hierarchies()

In [9]:
l = cube.levels

In [10]:
m = cube.measures
m

Measures()

In [11]:
cube.query(m["Quantity.SUM"])

  Quantity.SUM
0     8,077.00

In [12]:
cube.query(m["Quantity.SUM"], levels=[l["Shop"]])

        Quantity.SUM
Shop
shop_0        202.00
shop_1        202.00
shop_10       203.00
shop_11       203.00
shop_12       201.00
shop_13       202.00
shop_14       202.00
shop_15       202.00
shop_16       201.00
shop_17       204.00
shop_18       202.00
shop_19       202.00
shop_2        202.00
shop_20       201.00
shop_21       201.00
shop_22       201.00
shop_23       203.00
shop_24       203.00
shop_25       201.00
shop_26       202.00
shop_27       202.00
shop_28       202.00
shop_29       201.00
shop_3        201.00
shop_30       204.00
shop_31       202.00
shop_32       202.00
shop_33       201.00
shop_34       201.00
shop_35       201.00
shop_36       203.00
shop_37       203.00
shop_38       201.00
shop_39       202.00
shop_4        204.00
shop_5        202.00
shop_6        202.00
shop_7        201.00
shop_8        201.00
shop_9        201.00

In [13]:
cube.query(
    m["Quantity.SUM"],
    condition=l["Shop"] == "shop_0",
)

  Quantity.SUM
0       202.00

In [14]:
cube.query(m["Quantity.SUM"], levels=[l["Date"], l["Product"]])

                   Quantity.SUM
Date       Product
2021-01-06 BED_24          8.00
           BED_25          4.00
           BED_26          6.00
           BED_27          4.00
           BED_3           2.00
...                         ...
2021-02-04 TSH_52          6.00
           TSH_53          4.00
           TSH_7           3.00
           TSH_8           5.00
           TSH_9           3.00

[1830 rows x 1 columns]

In [15]:
cube.query(
    m["Quantity.SUM"],
    levels=[l["Date"], l["Product"]],
    condition=l["Shop"] == "shop_0",
)

                   Quantity.SUM
Date       Product
2021-01-15 BED_24          1.00
           BED_26          1.00
           BED_3           1.00
           BED_4           1.00
           BED_46          1.00
...                         ...
2021-02-04 TSH_51          2.00
           TSH_52          1.00
           TSH_53          1.00
           TSH_7           1.00
           TSH_9           1.00

[125 rows x 1 columns]

In [18]:
session.visualize()

Open the notebook in JupyterLab with the atoti extension enabled to build this widget.